h1,
h2,
p {
    text-align: center;
}



#undo {
    position: absolute;
    font-size: 3em;
    top: 20px;
    left: 50px;

}

.entornoJuego {
    width: 60%;
    display: flex;
    flex-flow: column;
    margin: 0 auto;
}

.entornoJuego>header {
    position: sticky;
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0.9);
    height: 50px;
    padding: 5px 15px;
    top: 0.25px;
    align-items: center;
    border-bottom: 1px solid black;
    z-index: 99;
}

.Dificultad {
    position: absolute;
    width: 30%;
    right: 10px;
}

.Reloj {
    position: absolute;
    font-size: 20px;
    left: 40px;
}

.Banderas {
    margin: 40px;
    font-size: 20px;
}

.Banderas span {
    margin: 10px;
}

.entornoJuego select {
    border-radius: 20px;
    padding: 0 20px;
    height: 30px;
    width: 100%;
    font-size: 20px;
}

.Tablero {
    width: 100%;
    margin: 20px auto;
    position: relative;
}

.Tablero>div {
    display: grid;
    width: 100%;
}

.casillaBuscamina {
    background: black;
    border: 1px solid white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.casillaBuscamina span {
    font-size: 20px;
}


.Reinicia {
    display: none;
    position: fixed;
    right: 50px;
    bottom: 50px;
    font-size: 100px;
    transition-duration: 1s;
}

.Reinicia:hover {
    transition-duration: 2s;
    transform: rotate(-360deg);
}

.mensajeVictoria {
    position: absolute;
    background: rgba(255, 255, 255, 0.7);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}

.casillaDescubierta{
    background-color: white;
    border: 1px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s; 
}
.casillaMarcada{
    background-color: Red;
    border: 1px solid white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}